



/* css */
body {
    margin: 0;
    padding: 0;
    color: #000000;
    width: 100vw;
    
}
::selection {
    background: #000;
    color: #fff;
}
main{
    margin: 0 50px 200px;
}


/* videocard */
.videocards_outer{
    width: 100%;
}
.videocard {
    width: 400px;
    display: inline-block;
    padding: 40px;
    vertical-align: top;
}
.thumbnails_image{
    width: 100%;
    transition: .5s;
}
.videocard:hover .thumbnails_image{
    box-shadow: 10px 6px 0px rgba(176, 233, 175, 0.5);
}
.class_text{
    color: #474747;
    font-weight: normal;
    margin: 40px 0 5px;
}

.grade_text{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 40px 8px;
}

.list_title{
    font-size: 26px;
    font-weight: 300;
    margin: 20px 40px 40px;
}

.go_back_button{
    margin: 60px 0 100px;
    font-weight: 300;
    color: #474747;
}
.tag_outer {
    margin: 20px 0;
}
.tags{
    background: #CCCCCC;
    color: #ffffff;
    padding: 2px 10px;
    width: 7em;
    font-size: 14px;
    transition: .5s;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 5px 4px 0px rgba(175, 226, 233, 0.5);
    cursor: pointer;
}
.tags:hover{
    box-shadow: none;
}
.tags p{
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.hide_projects, .only_school_projects{
    display: none;
}