


.no-js {
    display: none;
}


/* css */
body {
    margin: 0;
    padding: 0;
    color: #000000;
    width: 100vw;
    
}
::selection {
    background: #000;
    color: #fff;
}












.thumbnail_outers{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.scroll_hidden{
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}
.scroll_hidden::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.thumbnail_inner{
    width: 3000px;
    height: 280px;
}

.thumbnails_div{
    background: #ffffff;
    width: 300px;
    height: 168.75px;
    margin: 20px 11.25px;
    transition: .5s;
    display: inline-block;
    scroll-snap-align: start;
    vertical-align: middle;
}
.thumbnails_div:hover{
    margin: 0;
    width: 320px;
    height: 180px;
    box-shadow: 10px 6px 0px rgba(233, 175, 217, 0.5);
}
.thumbnails_div img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}

main{
    padding: 0 50px 200px;
}

p.more{
    font-size: 15px;
    margin: 15px 0;
    cursor: pointer;
}
.grade_text {
    margin: 30px 0 12px;
}
.sub_title {
    margin: 150px 0 10px;
}



@media screen and (max-width: 600px) {
    .thumbnails_div{
        width: 70vw;
        height: 39vw;
        margin: 7px;
    }
    .thumbnails_div:hover{
        margin: 7px;
        width: 70vw;
        height: 39vw;
        box-shadow: 10px 6px 0px rgba(233, 175, 217, 0.5);
    }
    .thumbnail_inner{
        height: 41vw;
    }
    p.more{
        margin: 15px 0 50px;   
    }
}




.hide_projects, .only_school_projects{
    display: none;
}