



/* css */
body {
    margin: 0;
    padding: 0;
    color: #000000;
    width: 100vw;
}
::selection {
    background: #000;
    color: #fff;
}
main{
    margin: 60px 50px 100px;
}






.video_section{
    width: 60vw;
    height: 42.67vw;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.video_section img{
    position: absolute;
    top: 0;
    left: 0;
}
.video_iframe{
    width: 54vw;
    height: 35.4vw;
    object-fit: contain;
    position: absolute;
    top: 4.8vw;
    left: 4vw;
}


.works_description {
    font-size: 15px;
    font-weight: 500;
    margin: 50px 0 10px;
}
.go_back_button{
    margin: 60px 0 100px;
    font-weight: 300;
    color: #474747;
}



@media screen and (max-width: 1000px) {
    .video_iframe{
        width: 72vw;
        height: 46vw;
        top: 7vw;
        left: 5vw;
    }
    .video_section{
        width: 80vw;
        height: 80vw;
    }
    .description_section{
        width: 100%;
        height: auto;
        padding: 0;
    }
}